[project]
	description = ?????????????? ??????? ??? ????????????? ???????? ???????? (JPA, JSF, Java EE)
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Maiauru
[access "refs/for/refs/*"]
	read = group user/Maiauru
	push = group user/Maiauru
	label-Code-Review = -2..+2 group user/Maiauru
	label-Verified = -1..+1 group user/Maiauru
	rebase = group user/Maiauru
	removeReviewer = group user/Maiauru
	submit = group user/Maiauru
[access "refs/heads/*"]
	read = group user/Maiauru
	create = group user/Maiauru
	push = +force group user/Maiauru
	pushMerge = group user/Maiauru
[access "refs/tags/*"]
	push = +force group user/Maiauru
	pushTag = group user/Maiauru
	pushSignedTag = group user/Maiauru
